<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>picHeight</key>
		<string>375</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/288128361458702650772.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>快乐一家</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/288128361444807686146.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>209</string>
		<key>picUrl</key>
		<string>http://kindeditor.b0.upaiyun.com/14563210808550df643052fc9862d1.jpg</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>【悲剧傻缺集锦】 失误篇!.</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/1456321071f5ecb8c36f6df2d4efae.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>206</string>
		<key>picUrl</key>
		<string>http://kindeditor.b0.upaiyun.com/1456237327445e8ba3afd596baa117.jpg</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>致敬老去的星爷和优秀的LOL视频创作者！.</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/1456237346e6cf2473463ca8689eb6.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://kindeditor.b0.upaiyun.com/1456237257623a137390b445d728ce.jpg</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>新发型和作死挑战.</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/1456237267276f63da17b201d7bfd1.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/74361331458659114397.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>标题</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/74361331458574881411.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>375</string>
		<key>picUrl</key>
		<string>http://kindeditor.b0.upaiyun.com/14586984119618fbc6aee20d143e7c.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>海参炒面？海参呢？给我一个完美的解释！</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/2016/3/1458691394.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/288007001458740145962.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>波啦啦</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/28800700http___videoss.b0.upaiyun.com_28452712http___videoss.b0.upaiyun.com_278163801456043632156.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>375</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/287856861458662320400.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>我是个讲理的人</string>
		<key>videoUrl</key>
		<string>http://videoss.b0.upaiyun.com/287856861458653920460.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://kindeditor.b0.upaiyun.com/14563210808550df643052fc9862d1.jpg</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>【悲剧傻缺集锦】 失误篇!.</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0610/5b1c0629e0100_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://kindeditor.b0.upaiyun.com/1456237327445e8ba3afd596baa117.jpg</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>致敬老去的星爷和优秀的LOL视频创作者！.</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0611/5b1e8aa25249d_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/74361331458659114397.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>标题</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0611/cfef8272-6d26-11e8-a53c-0026b938a8ac_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/288007001458740145962.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>波啦啦</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0611/5b1de4dff2b2ccut_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/287856861458662320400.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>我是个讲理的人</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0611/5b1e00c3501a8_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>666</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/288128361458702650772.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>快乐一家</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0611/f188697e-6d2d-11e8-a53c-0026b938a8ac_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/287856861458662320400.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>我是个讲理的人</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0611/04a97d166d7b11e8ad1f842b2b4c75ab_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/287856861458662320400.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>我是个讲理的人</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0610/5b1c3ee6aee40_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/287856861458662320400.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>我是个讲理的人</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0611/c0f68486-6d54-11e8-898e-1866daeb0df1_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/287856861458662320400.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>我是个讲理的人</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0611/5c54a3106d7b11e884a1842b2b4c75ab_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/287856861458662320400.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>我是个讲理的人</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0611/76e30090-6d36-11e8-b07a-1866daeb0df1_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>210</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/287856861458662320400.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>我是个讲理的人</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0607/56a22556-6a55-11e8-a53c-0026b938a8ac_wpc.mp4</string>
	</dict>
	<dict>
		<key>picHeight</key>
		<string>666</string>
		<key>picUrl</key>
		<string>http://wanzao2.b0.upaiyun.com/287856861458662320400.png</string>
		<key>picWidth</key>
		<string>375</string>
		<key>title</key>
		<string>我是个讲理的人</string>
		<key>videoUrl</key>
		<string>http://mvideo.spriteapp.cn/video/2018/0610/5b1bfaa0bd9a3_wpc.mp4</string>
	</dict>
</array>
</plist>
